<div class="header-content">
    <div class="header-content-inner">
        <div class="header-notification">
            <a href="/streaming">
                <h5>Click here to join us for mass via live streaming</h5>
            </a>
        </div>
        <div class="homepage-rebuild">
            <div class="text">
                <a href="/streaming"><img src="../images/large-banners/34.png" style="width: 100%; height:auto"></a>
            </div>
            <div class="text">
                <a href="#"><img src="../images/large-banners/42.png" style="width: 100%; height:auto"></a>
            </div>
            <div class="text">
                <a href="/streaming"><img src="../images/large-banners/43.png" style="width: 100%; height:auto"></a>
            </div>
            <div class="text">
                <a href="https://urnewman-beta.herokuapp.com/giving/student-appeal"><img src="../images/large-banners/41.png" style="width: 100%; height:auto"></a>
            </div>
            <div class="text">
                <a href="/streaming"><img src="../images/large-banners/38.png" style="width: 100%; height:auto"></a>
            </div>
            <div class="text">
                <a href="#"><img src="../images/large-banners/39.png" style="width: 100%; height:auto"></a>
            </div>
            <div class="text">
                <a href="/streaming"><img src="../images/large-banners/35.png" style="width: 100%; height:auto"></a>
            </div>
            <div class="text">
                <a href="/building"><img src="../images/building/buildingbanner.png" style="width: 100%; height:auto"></a>
            </div>
        </div>
    </div>
    <script src="/js/carousel/homepage-rebuild.js?version=3"></script>
</div>

<div class="container-fluid">
    <div class="row promo">
        <a href="/update">
            <div class="col-md-4 promo-item item-4">
                <h3>Register/Update Information</h3>
            </div>
        </a>
        <a href="/giving">
            <div class="col-md-4 promo-item item-5">
                <h3>Support Newman</h3>
            </div>
        </a>
        <a href="/groups/staff">
            <div class="col-md-4 promo-item item-6">
                <h3>Meet our Staff</h3>
            </div>
        </a>
    </div>
</div>

<%#<div class="header-content-alt" style="background-color: #00467f">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a href="/update">
                    <button class="btn btn-secondary btn-lg">Register/Update Information</button>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="/giving">
                    <button class="btn btn-secondary btn-lg">Support Newman</button>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="/groups/staff">
                    <button class="btn btn-secondary btn-lg">Meet Our Staff</button>
                </a>
            </div>
        </div>
    </div>
</div>%>