@import "~bootstrap/scss/bootstrap.scss";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.newman-primary-color {
  //color: #fac600 !important;
  background-color: #00467f !important;
}

.newman-secondary-color {
  //color: #00467f !important;
  background-color: #fac600 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #00467f !important;
  padding: 0 15px;
  flex-wrap: nowrap;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: black !important;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 10px;
}

.footer-content {
  background-color: #00467f;
  color: white;
  text-align: center;
}

.footer-content a {
  text-decoration: none;
  word-wrap: break-word;
  color: rgba(255, 255, 255, .7);
}

.footer-phone, .footer-email, .footer-location {
  margin-bottom: 3em;
}

.footer-location iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 10px;
}

.footer-social-media a:hover {
  color: rgba(255, 255, 255, 1);
}

.guidestar img {
  width: 100%;
  max-height: 250px;
}

footer {
  text-align: center;
}

.footer-icons {
  display: flow-root;
  align-items: center;
  padding: 20px;
}

.footer-icons img {
  max-width: 350px;
  height: 180px;
  padding: 20px;
}

.small-print {
  font-weight: 300;
}

.small-print a {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}