.main {
    padding-top: 5em;
}

.main>div.container {
    width: 67%;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    margin: 0 auto;
    position: relative;
    background: white;
}

.content a {
    text-decoration: none;
}

.title h1 {
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 1em;
    background-color: rgb(0, 70, 127, 0.9);
    color: white;
    background-color: rgb(21, 34, 73, .75);
}

@media (max-width: 480px) {
    .main {
        padding-top: 0;
    }
    .responsiveContainer {
        padding-left: 0;
        padding-right: 0;
    }
}